/* Navbar.css */

/* Container */
.navbar-container {
  height: 4rem;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 2rem;
  font-weight: 700;
  color: #333;
}

.language {
  font-size: 0.875rem;
  color: #333;
  cursor: pointer;
  margin-right: 20px;
}

.search-container {
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
}

.search-input {
  border: none;
  outline: none;
  flex: 1;
  padding: 0.25rem;
}

.menu-items {
  margin-left: 1rem;
  font-size: 1rem;
  color: #333;
  cursor: pointer;
}

.menu-items:hover {
  color: #1890ff;
}

.shopping-cart-icon {
  font-size: 1.5rem;
  color: #333;
  cursor: pointer;
}

.shopping-cart-icon:hover {
  color: #1890ff;
}

/* Responsive */
@media only screen and (max-width: 768px) {
  .py-2.5 {
    padding-top: 1.5rem; 
    padding-bottom: 1.5rem; 
  }
  .px-5 {
    padding-left: 1rem; 
    padding-right: 1rem; 
  }
  .logo {
    font-size: 2.5rem; 
  }
  .search-container {
    display: none;
  }
  .menu-items {
    display: none;
  }
}

@media (max-width: 1024px) {
  .language {
    display: none;
  }
}
